@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;700&display=swap');
    // COMMENTO ERASMO
    // COMMENTO 2 ERASMO
    // COMMENTO 3 ERASMO

// Commento di Francesco 2
// Commento di Francesco 3
// Commento di Francesco 4

* {
  font-family: 'Manrope', sans-serif;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// #colors
.grey_border {
    border-color: $grey-color;
}


header{
  height: 100vh;
  background-image: url('img/img_carousel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 82px;
    background-color: white;
    border-bottom: 1px solid #DFDFDF;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.06);
}

.menu-index {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 82px;
    background-color: rgba(255, 255, 255, 0);
}

.logo {
    width: 100px;
}

// Host index
.btn_create {
 background-color: #008588;
 color: white;
 &:hover {
    color: white;
    background-color: #006b6d;
 }
}

// Checkout Page

[data-braintree-id='toggle'] {
  display: none;
}

[data-braintree-id='methods-label'] {
  display: none;
}


// Show page CSS
  .show_image {
      height: 400px;
      overflow: hidden;
      img {
          transform: translate(0, -25%);
      }
  }
  .h1_show_title {
      max-width: 80%;
  }


// Create page host

.label_create {
  width: 250px;
  font-size: 18px;
}

.counter {
  width: 45px;
  border: none;
  text-align: center;
  color: $text-color;
  font-weight: bold;
  font-size: 18px;
  background-color: #F8FAFC;
  border: none;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.up_count,
.down_count {
border-radius: 50%;
background: white;
color: #008489;
padding: 3px 10px;
border: 1px solid #008489;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.fas {
  color: #008489;
  vertical-align: middle;
  font-size: 10px;
}
#address,
#title {
  width: 400px;
  height: 50px;
  border: 1px solid #008489;
  border-radius: 8px;
}
#description {
  width: 400px;
  border: 1px solid #008489;
  border-radius: 8px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  i {
    color:  #008489;
    font-size: 20px;
    padding-right: 2px;
  }
}

.btn_foto {
  border: 1px solid #008489;
  color: $text-color;
  background-color: white;
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 16px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.services_create {
  i {
    color: #008489;
  }
  .container_checkbox input:checked ~ .checkmark {
    background-color: #008489;
  }
}
  #published {
    width: 200px;
    padding: 8px 20px;
    border: 1px solid #008489;
    border-radius: 8px;
    font-size: 16px;
  }
  #save_apt {
  width: 100px;
  color: white;
  font-weight: bold;
  background-color: #008489;
  transition: background-color 0.15s ease-in-out;
  &:hover {
    background-color: #06696d;
  }
}

// Sponsorship Page
.plus {
  color: white;
  background-color:#944667;
  padding: 5px;
  font-size: 12px;
}
.btn_sponsorship {
  // background-color: lightgrey;
  color: $text-color;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  &:hover {
  text-decoration: underline;
  color: #944667;

  }
  i {
    color:  #944667;
    font-size: 16px;
    margin-left: 5px;
  }
}


// Messages page
.message {
  display: flex;
  flex-wrap: nowrap;

  border-bottom: 1px solid #ebebeb;
  padding: 30px 0;
  .message_img {
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  .message_body {
    width: 100%;
    p {
        color: #767676;
    }
  }
  .message_text{
    margin: 0 30px;
    min-width: 120px;
  }
}

.time {
    font-size: 11px;
}
.email {
    font-size: 13px;
}
.email_link,
.email_link:hover {
color: $main-color;
}


// Footer section

.container_footertop {
  background-color: white;
  padding-top: 40px;
  a {color: $text-color;}
}

.footer_titles {
  font-size: 12px;
  font-weight: bold;
}

.footer_col {
    margin-bottom: 30px;
    a {color: $text-color; display: block; margin-top: 10px;}
}

// SLIDER KM apartment search page

.slidecontainer {
    width: 100%;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $main-color;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $main-color;
    cursor: pointer;
  }

  .search_apartment_input {
    border-radius: 10px;
    outline: none;
    border-style: none;
    border: 1px solid white;
    padding: 7px;
    box-shadow: 0px 1px 4px #8a8a8a;
    margin-right: 10px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    &::placeholder {
      font-size: 13px;
    }
  }

  .navbar-expand.scrolled {
    background-color: #fff;
    transition: background-color 200ms linear;
    border-bottom: 1px solid #DFDFDF;
    box-shadow: 0 0 3px #DFDFDF;
  }
